#monCompte{
    padding: 3em;
}

#monCompte h1{
    color: #ffa300;
    text-align: center;
    font-size: 54px;
}

#compte{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#compte>p{
    width: 1080px;
}

#compte>p, #infosPerso p, #commandePerso>p{
    font-size: 36px;
}

#infosPerso, #commandePerso{
    border-top: #ffa300 solid ;
    padding-top: 32px;
    padding-bottom: 32px;
}

#infosPerso p, #commandePerso>p{
    color:#ffa300;
}

#formInfos{
    width: 1080px;
    display: flex;
    flex-wrap: wrap;
    margin-inline: auto;
    margin-top: 32px;
    justify-content: space-between;
    row-gap: 50px;
}

#formInfos input[type=text]{
    width: 396px;
    height: 50px;
    font-size: 24px;
    border-radius: 20px;
    border: #ffa300 solid;
    padding: 10px;
}

#formInfos input[type=mail]{
    width: 930px;
    height: 50px;
    font-size: 24px;
    border-radius: 20px;
    border: #ffa300 solid;
    padding: 10px;
}

#formInfos input[type=submit]{
    width: 188px;
    height: 63px;
    font-size: 24px;
    border-radius: 30px;
    border: none;
    background-color: #ffa300;
    color: white;
}

#formInfos label{
    font-size: 28px;
}

.changeOrderStatus{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

.changeOrderStatus select{
    width: 271px;
    height: 39px;
    font-size: 20px;
}

.changeOrderStatus input[type=submit]{
    width: 134px;
    height: 45px;
    border-radius: 30px;
    background-color: #ffa300;
    color: white;
    border: none;
    font-size: 15px;
}

#orders{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
}

.order{
    width: 1080px;
    height: 90px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: #ffa300 solid;
}

.order>div p{
    font-size: 20px;
}

.order>div+p+p, .order>div+form+p{
    font-size: 32px;
}

.order>div+p{
    font-size: 20px;
}

#compte button{
    margin: auto;
    width: 330px;
    height: 63px;
    font-size: 24px;
    border-radius: 30px;
    border: none;
    background-color: #ffa300;
    color: white;
}

#compte button:hover, #formInfos input[type=submit]:hover{
    cursor: pointer;
}

#actionCompte{
    width: 1080px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media only screen and (max-width: 430px){
    #monCompte{
        padding: 15px;
    }
    #monCompte h1{
        font-size: 28px;
    }
    #compte{
        margin: auto;
        width: 325px;
    }
    #compte, #infosPerso, #commandePerso, #orders, .order{
        width: 325px;
    }
    #compte>p, #infosPerso>p, #commandePerso>p{
        font-size: 16px;
        width: 325px;
    }
    #infosPerso form{
        width: 325px;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
    }
    #infosPerso form label{
        font-size: 14px;
    }
    #infosPerso form input:not([type=submit]){
        width: 205px;
        height: 27px;
        font-size: 14px;
    }
    #infosPerso form input[type=submit]{
        width: 110px;
        height: 29px;
        font-size: 14px;
    }
    .order>div p, .order>div+form+p, .order>div+p+p, .order>div+p{
        font-size: 10px;
    }
    .order form{
        width: 110px;
        flex-direction: column;
        gap: 20px;
    }
    .order select{
        width: 110px;
        height: 16px;
        font-size: 10px;
    }
    .order form input[type=submit]{
        width: 71px;
        height: 16px;
        font-size: 10px;
    }
    .order{
        padding: 5px;
    }
    #compte button{
        width: 144px;
        height: 29px;
        font-size: 10px;
    }
    #actionCompte{
        width: 340px;
    }
}