#connexion{
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.divAvance{
    position: relative;
    margin: auto;
}
svg{
    position: relative;
    width: 349px;
    height: 60px;
}

.svgmargin0{
    z-index: 100;
}
.svgmargin1{
    margin-left: -50px;
    z-index: 90;
}
.svgmargin2{
    margin-left: -50px; 
    z-index: 80;
}
.svgmargin3{
    margin-left: -50px; 
    z-index: 70;
}
text {
    font-family: 'Poppins';
}

.divbothconn{
    display: flex;
    flex-direction: row;
    padding: 80px 0;
}
.connclassique{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h3{
    color: #FFA300;
    text-align: center;
    font-family: 'Poppins';
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.connclassique h2 {
    color: #FFA300;
    font-family: 'Poppins';
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.divider{
    width: 5px;
    height: 550px;  
    background: #FFA300;
}

form{
    gap: 60px;
}

form div {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    width: 432px;
}

form label {
    color: #FFA300;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 15px;
}

form input[type="text"]{
    border-radius: 30px;
    border: 3px solid #FFA300;
    background: #FFF;
    width: 432px;
    height: 40px;
    flex-shrink: 0;
    font-size: 20px;
    padding: 0 20px;
}

form input[type="submit"]{
    width: 432px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #FFA300;
    color: white;
    font-size: 28px;
    font-weight: 600;
    font-style: normal;
    border: none;
}

form a {
    color: #FFA300;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.connautre{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.connautre a {
    text-decoration: none;
}
.connautre div{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.moyenconn{
    width: 431px;
    height: 83px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 3px solid #FFA300;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 30px;
    margin: 0 auto;
}

.connautre p {
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.connautre img {
    width: 45px;
    height: 45px;
}

.xtwitter{
    margin-bottom: 60px;
}

.externe{
    margin-bottom: 20px;
}

@media only screen and (max-width: 1400px){
    svg{
        width: 300px;
    }
}
@media only screen and (max-width: 1180px){
    svg{
        width: 250px;
    }
    .divbothconn{
        flex-direction: column;
        padding: 50px 0;
    }
    .divider{
        display: none;
    }
    .connclassique{
        margin: 0 auto 80px auto;
    }
    .externe{
        margin: auto;
    }
}

@media only screen and (max-width: 960px){
    svg{
        width: 200px;
    }
    .connclassique{
        width: auto;
    }
    .connclassique h2{
        font-size: 40px;
    }
    .connclassique h3{
        font-size: 30px;
    }
    .divbothconn{
        padding: 40px 0;
    }
}
@media only screen and (max-width: 740px){
    svg{
        width: 150px;
        height: 100px;
    }
    .svgmargin1,.svgmargin2,.svgmargin3{
        margin-left: -40px;
    }
    .divbothconn{
        padding: 30px 0;
    }
}
@media only screen and (max-width: 635px){
    form label{
        font-size: 20px;
    }
    .externe{
        font-size: 26pxs;
    }
    .divbothconn{
        padding: 10px 0;
    }
    .connautre h3{
        font-size: 30px;
    }
}

@media only screen and (max-width: 548px){
    svg{
        width: 120px;
    }
    .svgmargin1,.svgmargin2,.svgmargin3{
        margin-left: -25px;
    }
    .connautre h3{
        font-size: 26px;
    }
}
@media only screen and (max-width: 465px){
    .divbothconn h2{
        font-size: 32px;
    }
    .divbothconn h3{
        font-size: 26px;
    }
    svg{
        width: 100px;
    }
    form div {
        width: 350px;
    }
    form input[type="text"]{
        width: 350px;
    }
    form input[type="submit"]{
        width: 350px;
    }
    .connautre h3{
        font-size: 20px;
    }
}

@media only screen and (max-width: 430px){
    
    form div {
        width: 300px;
    }
    form input[type="text"]{
        width: 300px;
    }
    form input[type="submit"]{
        width: 300px;
    }
}