#livraison{
    padding: 3em 1em;
}

#choixLivraison{
    display: flex;
    justify-content: center;
    width: 510px;
    height: 67px;
    margin-inline: auto;
    border-radius: 20px;
    margin-top: 3em;
    margin-bottom: 3em;
}

#choixLivraison div{
    width: 255px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#domicile{
    border-radius: 20px 0 0 20px;
    background-color: #ffa300;
    color: white;
}

#point_relais{
    border-radius: 0 20px 20px 0;
    color: #ffa300;
    border: #ffa300 solid;
}

#choixLivraison div:hover{
    cursor: pointer;
}

.input-container{
    display: flex;
    justify-content: space-between;
}

.input-container div, .input-container:nth-child(2){
    display: flex;
    flex-direction: column;
}

.input-container div input{
    width: 273px;
    height: 50px;
    border-radius: 30px;
    border: #ffa300 solid;
}

.input-container:nth-child(2) input{
    width: 100%;
    height: 50px;
    border-radius: 30px;
    border: #ffa300 solid;
}

#formulaire, #formLivraison{
    width: 576px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

#formulaire h2{
    color: #ffa300;
    font-size: 48px;
}

#formLivraison label{
    color: #ffa300;
    padding-left: 1em;
}

#formLivraison  input[type=submit], #choixPR input[type=submit]{
    width: 100%;
    height: 76px;
    color: white;
    background-color: #ffa300;
    border: none;
    border-radius: 30px;
    font-size: 32px;
}


#carte img{
    width: 576px;
    height: 543px;
    object-fit: cover;
    border-radius: 73px;
}

#carteVar{
    width: 576px;
    height: 543px;
    object-fit: cover;
    border-radius: 73px;
}

#carteReduite{
    position: relative;
}

#localisation{
    width: 50px;
    position: absolute;
    display: none;
}

#infosDomicile{
    margin: 0 auto 60px auto;
    width: 100%;
    display: flex;
    gap: 40px;
    justify-content: center;
    
}

#infosPR{
    margin: 0 auto 60px auto;
    width: 100%;
    max-width: 1300px;
    justify-content: space-around;
}

.divAvance{
    position: relative;
    margin: auto;
    text-align: center;
}
svg{
    position: relative;
    width: 349px;
    height: 60px;
}

.svgmargin0{
    z-index: 100;
}
.svgmargin1{
    margin-left: -50px;
    z-index: 90;
}
.svgmargin2{
    margin-left: -50px; 
    z-index: 80;
}
.svgmargin3{
    margin-left: -50px; 
    z-index: 70;
}
text {
    font-family: 'Poppins';
}

input{
    font-size: 24px;
    padding: 10px;
}

#choixPR{
    height: 543px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#choixPR h2{
    font-size: 48px;
    color:#ffa300;
}

.PR{
    width: 540px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: #ffa300 solid;
    border-radius: 10px;
    padding: 20px;
}

.PR label{
    font-size: 20px;
    color:#ffa300;
}

.PR input[type=radio]{
    appearance: none;
    border: #ffa300 solid;
    border-radius: 50px;
    width: 30px;
    height: 30px;
}

.PR input[type=radio]:checked{
    background-color: #ffa300;
    border-width: -5px;
}

.PR input[type=radio]:hover{
    cursor: pointer;
}

@media only screen and (max-width: 1400px){
    svg{
        width: 300px;
    }
}
@media only screen and (max-width: 1200px){
    svg{
        width: 250px;
    }
    #infosDomicile, #infosPR{
        flex-direction: column-reverse;
        justify-content: center;
        gap: 40px;
    }
    #formulaire, #choixPR{
        margin: 0 auto 100px auto;
    }
    #carte, #carteReduite{
        margin: auto;
    }
    #choixPR{
        width: 560px;
    }
    #formulaire h2, #choixPR h2{
        font-size: 40px;
        text-align: center;
    }

}
@media only screen and (max-width: 960px){
    svg{
        width: 200px;
    }
    #choixLivraison{
        width: 400px;
        height: 50px;
        margin-inline: auto;
        border-radius: 20px;
        margin-top: 2em;
        margin-bottom: 3em;
    }
    
    #choixLivraison div{
        width: 50%;
        height: 50px;
        font-size: 20px;
    }
    #formulaire{
        width: 480px;
        gap: 20px;
    }
    #formLivraison{
        width: 100%;
    }
    .input-container div input{
        width: 230px;
        height: 40px;
    }
    .input-container:nth-child(2) input {
        height: 40px;
    }
    #formLivraison  input[type=submit], #choixPR input[type=submit]{
        font-size: 28px;
    }
    
}

@media only screen and (max-width: 740px){
    svg{
        width: 150px;
        height: 100px;
    }
    .svgmargin1,.svgmargin2,.svgmargin3{
        margin-left: -40px;
    }
    #choixLivraison{
        width: 350px;
        height: 40px;
        margin-inline: auto;
        margin-top: 0;
        margin-bottom: 2em;
    }
    
    #choixLivraison div{
        height: 40px;
        font-size: 16px;
    }
    #livraison{
        padding: 1em 1em;
    }
    #carte, #carteReduite{
        display: flex;
        justify-content: center;
    }
    #carte img, #carteVar {
        width: 480px;
        height: 480px;
    }
    #choixPR {
        width: 480px;
    }
}

@media only screen and (max-width: 630px){
    #carte img, #carteVar {
        width: 400px;
        height: 400px;
    }
    #choixPR {
        width: 400px;
    }
    #formulaire h2, #choixPR h2{
        font-size: 36px;
    }
    #formulaire{
        width: 400px;
        gap: 20px;
    }
    #formLivraison{
        width: 100%;
    }
    .input-container div input{
        width: 180px;
        height: 35px;
    }
    .input-container:nth-child(2) input {
        height: 35px;
    }
    #formLivraison  input[type=submit], #choixPR input[type=submit]{
        font-size: 24px;
        margin-top: 20px;
    }
    #formLivraison{
        width: 100%;
        gap: 15px;
    }
    .PR label{
        font-size: 16px;
    }
}
@media only screen and (max-width: 570px){
    svg{
        width: 120px;
    }
    .svgmargin1,.svgmargin2,.svgmargin3{
        margin-left: -25px;
    }
    #choixLivraison{
        width: 300px;
        height: 30px;
        margin-inline: auto;
        margin-bottom: 1em;
    }
    
    #choixLivraison div{
        height: 30px;
        font-size: 12px;
    }
    #carte img, #carteVar {
        width: 350px;
        height: 350px;
    }
    #choixPR {
        width: 350px;
    }
    #formulaire h2, #choixPR h2{
        font-size: 32px;
    }
    #formulaire{
        width: 350px;
        gap: 20px;
    }
   
    .input-container div input{
        width: 160px;
        height: 35px;
    }
    #input-Name{
        flex-direction: column;
        gap: 20px;
    }
    #input-Name input{
        width: 100%;
    }
    .input-container:nth-child(2) input {
        height: 35px;
    }
    #formLivraison  input[type=submit], #choixPR input[type=submit]{
        font-size: 24px;
    }
    .PR label{
        font-size: 14px;
    }
}
@media only screen and (max-width: 465px){
    svg{
        width: 95px;
    }
    #choixLivraison{
        width: 270px;
        height: 30px;
        margin-inline: auto;
        margin-bottom: 1em;
    }
    
    #choixLivraison div{
        height: 30px;
        font-size: 12px;
    }
    #carte img, #carteVar{
        width: 300px;
        height: 300px;
    }
    #choixPR {
        width: 300px;
    }
    #formulaire h2, #choixPR h2{
        font-size: 28px;
    }
    #formulaire{
        width: 300px;
        gap: 20px;
    }
   
    .input-container div input{
        width: 140px;
        height: 35px;
    }
    #input-Name{
        flex-direction: column;
    }
    #input-Name input{
        width: 100%;
    }
    .input-container:nth-child(2) input {
        height: 35px;
    }
    #formLivraison  input[type=submit], #choixPR input[type=submit]{
        font-size: 20px;
    }
    .PR label{
        font-size: 12px;
    }
    .PR{
        width: 280px;
    }
    .PR input[type=radio]{
        width: 16px;
        height: 16px;
    }
    .svgmargin0, .svgmargin3, .svgmargin1{
        display: none;
    }
    .svgmargin2{
        width: 200px;
        margin: 0;
    }
}