#logoSite{
    width: 231px;
    height: 97px;
}

.icone{
    width: 48px;
}

nav{
    width: 100%;
    height: 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    list-style-type: none;
    width: 771px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-none{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 600px;
}
.icones{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 170px;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 300;
}

#code_promo{
    width: 100%;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFA300;
    color: white;
}

.burger {
    display: none;
    cursor: pointer;
    font-size: 50px;
    margin-left: 10px;
}

@media only screen and (max-width: 1040px) {
    .nav-none {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 104px;
        left: 0;
        background-color: #FFA300;
        text-align: center;
    }
    .nav-links{
        justify-content: right;
    }
    .nav {
        justify-content: auto;
    }
    .nav-none.show {
        display: flex;
    }

    .nav-none li {
        margin: 10px 0;
    }
    .nav-none li a {
        color: white;
    }
    .icone{
        width: 40px;
    }
    .burger {
        display: block;
    }
}

