.divAvance{
    position: relative;
    margin: auto;
    text-align: center;
}
svg{
    position: relative;
    width: 349px;
    height: 60px;
}

.svgmargin0{
    z-index: 100;
}
.svgmargin1{
    margin-left: -50px;
    z-index: 90;
}
.svgmargin2{
    margin-left: -50px; 
    z-index: 80;
}
.svgmargin3{
    margin-left: -50px; 
    z-index: 70;
}
text {
    font-family: 'Poppins';
}

#panier{
    padding: 3em;
    display: flex;
    flex-direction: column;
    gap: 72px;
}

#etapesCommande{
    width: 1246px;
    height: 59px;
    display: flex;
    margin: auto;
}

#etapesCommande div{
    width: 351px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 1px;
    border-radius: 10px;
}

#commande{
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
}

#aPayer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bouchon{
    width: 131px;
    height: 131px;
    border: #FFA300 solid;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
}

#bouchon div{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: #FFA300 solid;
}

#bouchon div div{
    position: absolute;
    right: 2px;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    border: #FFA300 solid;
}

#corps{
    width: 478px;
    background-color: #FFA300;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 10px;
    row-gap: 10px;
}

form input[type=submit]{
    width: 449px;
    height: 108px;
    border-radius: 30px;
    background-color: #FFA300;
    color: white;
    border: none;
    font-size: 32px;
}

form input[type=submit]:hover{
    cursor: pointer;
}

#offert a button:hover{
    cursor: pointer;
}

#codePromo label{
    font-size: 32px;
}

#codePromo input{
    width: 212px;
    height: 41px;
    padding: 10px;
    font-size: 25px;
    border: #FFA300 solid;
    border-radius: 30px;
}

#panier_vide{
    padding-top: 3em;
    text-align: center;
}

#panier_vide h1{
    color: #FFA300;
    margin-bottom: 50px;
}

#panier_vide img{
    width: 60%;
    height: auto;
    object-fit: cover;
    margin: 3em auto 0 auto;
}

.produitPanier{
    width: 468px;
    height: 144px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
}

.produitPanier img{
    width: 144px;
    height: 108px;
    object-fit: cover;
    border: #FFA300 solid;
    border-radius: 30px;
}

.produitPanier>img+div{
    width: 170px;
}

.nomProduitPanier{
    font-size: 24px;
}

.quantité>p, .quantité+p{
    font-size: 16px;
}

.nombre{
    width: 110px;
}

.quantité{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plus{
    background-color: #00ff38;
}

.moins{
    background-color: #ff0000;
}

.plus, .moins, .impossible{
    border: none;
    width: 18px;
    height: 18px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantité a{
    text-decoration: none;
}

.supprimer{
    background-color: white;
    border: none;
    font-size: 27px;
}

.produitPanier button:hover{
    cursor: pointer;
}

#prixTotal{
    position: absolute;
    top: -50px;
    right: -200px;
    clip-path: polygon(0% 20%, 20% 0%, 100% 0%, 100% 100%, 20% 100%, 0% 80%);
    width: 303.5px;
    height: 153px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: #FFA300;
}

#trou{
    background-color: white;
    width: 24px;
    height: 24px;
    border-radius: 50px;
}

#trou+div{
    font-size: 28px;
    display: flex;
    flex-direction: column;
}

#trou+div div{
    display: flex;
}

@media only screen and (max-width: 720px){
    #panier_vide h1{
        font-size: 24px;
        font-weight: 500;
    }
}