.divAvance{
    position: relative;
    margin: auto;
    text-align: center;
}
svg{
    position: relative;
    width: 349px;
    height: 60px;
}

.svgmargin0{
    z-index: 100;
}
.svgmargin1{
    margin-left: -50px;
    z-index: 90;
}
.svgmargin2{
    margin-left: -50px; 
    z-index: 80;
}
.svgmargin3{
    margin-left: -50px; 
    z-index: 70;
}
text {
    font-family: 'Poppins';
}

#panier{
    padding: 3em;
    display: flex;
    flex-direction: column;
    gap: 72px;
}

#etapesCommande{
    width: 1246px;
    height: 59px;
    display: flex;
    margin: auto;
}

#etapesCommande div{
    width: 351px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 1px;
    border-radius: 10px;
}

#commande{
    display: flex;
    justify-content: space-evenly;
    align-items: end;
}

#aPayer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bouchon{
    width: 131px;
    height: 131px;
    border: #FFA300 solid;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
}

#bouchon div{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: #FFA300 solid;
}

#bouchon div div{
    position: absolute;
    right: 2px;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    border: #FFA300 solid;
}

#corps{
    width: 478px;
    height: 448px;
    background-color: #FFA300;
    border-radius: 10px;
}

#offert a button{
    width: 449px;
    height: 108px;
    border-radius: 30px;
    background-color: #FFA300;
    color: white;
    border: none;
}

#offert a button:hover{
    cursor: pointer;
}

#panier_vide{
    padding-top: 3em;
    text-align: center;
}

#panier_vide h1{
    color: #FFA300;
    margin-bottom: 50px;
}

#panier_vide img{
    width: 60%;
    height: auto;
    object-fit: cover;
    margin: 3em auto 0 auto;
}

@media only screen and (max-width: 720px){
    #panier_vide h1{
        font-size: 24px;
        font-weight: 500;
    }
}