#listing{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: start;
    padding: 3em;
}

#illustration{
    width: 100%;
    height: 181px;
    object-fit: cover;
}

#liste_produits{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 80%;
    max-width: 1100px;
    gap: 72px;
}

#liste_produits h1{
    color: #FFA300;
    font-size: 38px;
}

#ajoutProduit{
    width: 100%;
    height: 65px;
    font-size: 24px;
    background-color: #FFA300;
    color: white;
    border-radius: 20px;
    border: none;
    margin-left: 600px;
}

#ajoutProduit:hover{
    cursor: pointer;
}

#quantiteAdmin{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: -30px;
}

#quantiteAdmin input[type=number]{
    width: 50px;
    height: 25px;
    border: #FFA300 solid;
    border-radius: 10px;
    padding: 5px;
}

#quantiteAdmin input[type=submit]{
    width: 52px;
    height: 25px;
    background-color: #FFA300;
    color: white;
    border: none;
    border-radius: 10px;
}

#products{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px;
    padding: 2em;
    border-left: #FFA300 solid;
}

.product{
    position: relative;
    width: 252px;
    height: 400px;
    text-align: center;
    border: black solid 1px;
}

.product:hover{
    box-shadow: 0px 0px 20px#FFA300;
    transition: all 0.5s;
}

.product img{
    width: 100%;
    height: 55%;
    object-fit: cover;
    border-bottom: black solid 1px;
}

.ProductTitre{
    color: #FFA300;
    font-size: 24px;
    line-height: 0.5em;
}
.ProductBrand, .ProductPrice{
    font-size: 18px;
}

.product:hover{
    cursor: pointer;
}

.productInfos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    height: 38%;
}

#rupture{
    width: 252px;
    height: 400px;
    position: absolute;
    z-index: 2;
    background-color: rgba(102, 102, 102, 0.721);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rupture:hover{
    cursor: default;
}

#rupture div{
    rotate: -20deg;
    color: white;
    background-color: #FFA300;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

#tri{
    margin-top: 380px;
}

#tri p{
    font-weight: bold;
}

#tri ul{
    list-style: none;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#tri ul li{
    margin-left: 10px;
    border-radius: 30px;
    padding: 0.5em;
}

#tri ul li:hover{
    cursor: pointer;
}

#supprimer{
    width: 60px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    border-left: black solid 1px;
    border-bottom: black solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

#supprimer input{
    width: 37px;
    height: 37px;
    background-image: url('../img/poubelle.svg');
    background-position: -2px;
    border: none;
    background-color: red;
}

#popDeleteProduct{
    position: absolute;
    top: 0;
    width: 99vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    z-index: 50;
}

#popDeleteProduct>div{
    border-radius: 10px;
    width: 700px;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border: black solid 1px;
}

#popDeleteProduct>div div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#popDeleteProduct>div p{
    font-size: 30px;
}

#popDeleteProduct>div div button{
    width: 250px;
    height: 70px;
    font-size: 20px;
    border-radius: 10px;
}

#retourAccueil{
    border: none;
}

#validerSuppr{
    background-color: #FFA300;
    color: white;
    border: none;
}
#titreandfiltre{
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#titreandfiltre img{
    padding: 5px;
    background-color: #FFA300;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    display: none;
}
#tri span{
    display: none;
}
#tri{
    display: block;
}
.body-no-scroll {
    overflow: hidden;
}

@media only screen and (max-width: 938px){
    #tri span{
        display: block;
    }
    #pop{
        display: none;
    }
    #liste_produits{
        width: 100%;
    }
    #products{
        border: none;
    }
    #liste_produits{
        gap: 50px;
    }
    #titreandfiltre img{
        display: block;
    }
    #pop{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2000;
    }
    #tri{
        position: absolute;
        width: 80%;
        height: 60%;
        top: 100px;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 30px 50px;
        text-align: center;
        z-index: 3000;
        overflow: auto;
        text-align: left;
    }
    #tri span{
        font-size: 40px;
    }
    .close {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
        cursor: pointer;
    }
}

@media only screen and (max-width: 738px){
    .product{
        width: 201px;
        height: 320px;
    }
    #rupture{
        width: 201px;
        height: 320px;
    }
    #products{
        gap: 50px;
        padding: 1em;
    }
    .ProductTitre{
        font-size: 20px;
    }
    .ProductBrand, .ProductPrice{
        font-size: 14px;
    }
    .productInfos{
        gap: 10px;
    }
}
@media only screen and (max-width: 639px){
    .product{
        width: 161px;
        height: 256px;
    }
    #rupture{
        width: 161px;
        height: 256px;
    }
    .ProductTitre{
        font-size: 16px;
    }
    .ProductBrand, .ProductPrice{
        font-size: 12px;
    }
    .productInfos{
        gap: 6px;
    }
    #liste_produits h1{
        color: #FFA300;
        font-size: 30px;
    }
    #liste_produits{
        gap: 20px;
    }
}
@media only screen and (max-width: 500px){
    .product{
        width: 129px;
        height: 235px;
    }
    #rupture{
        width: 129px;
        height: 205px;
    }
    .ProductTitre{
        font-size: 14px;
    }
    .ProductBrand, .ProductPrice{
        font-size: 10px;
    }
    #liste_produits h1{
        color: #FFA300;
        font-size: 26px;
    }
}
@media only screen and (max-width: 439px){
    .product{
        width: 103px;
    }
    #rupture{
        width: 103px;
    }
    #products{
        gap: 25px;
        padding: 0.5em;
    }
    .productInfos{
        gap: 2px;

    }
    .ProductTitre{
        color: #FFA300;
        font-size: 12px;
    }
    .ProductBrand, .ProductPrice{
        font-size: 10px;
    }
    #liste_produits h1{
        color: #FFA300;
        font-size: 22px;
    }
}