#listing{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: start;
    padding: 3em;
}

#illustration{
    width: 937px;
    height: 181px;
    object-fit: cover;
}

#liste_produits{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 1000px;
    gap: 72px;
}

#liste_produits h1{
    color: #FFA300;
}

#ajoutProduit{
    width: 394px;
    height: 65px;
    font-size: 24px;
    background-color: #FFA300;
    color: white;
    border-radius: 20px;
    border: none;
    margin-left: 600px;
}

#ajoutProduit:hover{
    cursor: pointer;
}

#quantiteAdmin{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: -30px;
}

#quantiteAdmin input[type=number]{
    width: 50px;
    height: 25px;
    border: #FFA300 solid;
    border-radius: 10px;
    padding: 5px;
}

#quantiteAdmin input[type=submit]{
    width: 52px;
    height: 25px;
    background-color: #FFA300;
    color: white;
    border: none;
    border-radius: 10px;
}

#products{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    padding: 2em;
    border-left: #FFA300 solid;
}

.product{
    position: relative;
    width: 252px;
    height: 400px;
    text-align: center;
    border: black solid 1px;
}

.product img{
    width: 250px;
    height: 216px;
    object-fit: cover;
    border-bottom: black solid 1px;
}

.productInfos>p>b{
    color: #FFA300;
    font-size: 20px;
}

.product:hover{
    cursor: pointer;
}

.productInfos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    height: 184px;
}

#rupture{
    width: 252px;
    height: 400px;
    position: absolute;
    z-index: 2;
    background-color: rgba(102, 102, 102, 0.721);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rupture:hover{
    cursor: default;
}

#rupture div{
    rotate: -20deg;
    color: white;
    background-color: #FFA300;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

#tri{
    margin-top: 380px;
}

#tri p{
    font-weight: bold;
}

#tri ul{
    list-style: none;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#tri ul li{
    margin-left: 10px;
    border-radius: 30px;
    padding: 0.5em;
}

#tri ul li:hover{
    cursor: pointer;
}

#supprimer{
    width: 60px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    border-left: black solid 1px;
    border-bottom: black solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

#supprimer input{
    width: 37px;
    height: 37px;
    background-image: url('../img/poubelle.svg');
    background-position: -2px;
    border: none;
    background-color: red;
}