#pageProduit{
    padding: 50px;
}

#infos{
    display: flex;
    width: 90%;
    height: 72px;
    margin: auto;
    max-width: 1300px;
}

#infos div{
    width: 25%;
    border: solid 4px #FFA300;
    border-bottom: none;
    border-radius: 30px 30px 0 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#infos div:hover{
    cursor: pointer;
}

#avis, #advice, #ingredient{
    color: #FFA300;
}

#notices, #advices, #ingredientList{
    display: none;
}

#desc{
    background-color: #FFA300;
    color: white;
}

.contenu_infos{
    width: 90%;
    max-width: 1300px;
    height: 500px;
    margin: auto;
    border: solid 4px #FFA300;
    border-radius: 0 0 30px 30px;
    padding: 20px;
}

#productInfos{
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

#productInfos>img{
    width: 576px;
    height: 501px;
}

#productCustom{
    width: 700px;
    text-align: center;
}

#productCustom h1{
    color : #FFA300;
    font-size: 36px;
    font-weight: 600;
}

#productCustom form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 501px;
}

#formats{
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
}

#petit_format{
    width: 25px;
}

#moyen_format{
    width: 83px;
}

#grand_format{
    width: 68px;
}

.prix{
    text-align: center;
}

#prix_commande{
    clip-path: polygon(0% 20%, 20% 0%, 100% 0%, 100% 100%, 20% 100%, 0% 80%);
    width: 303.5px;
    height: 153px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: #FFA300;
}

#prix_commande+input[type=submit]:hover{
    cursor: pointer;
}

#trou{
    background-color: white;
    width: 24px;
    height: 24px;
    border-radius: 50px;
}

#trou+div{
    font-size: 28px;
    display: flex;
    flex-direction: column;
}

#trou+div div{
    display: flex;
}

#trou+div div input{
    font-size: 28px;
    color: white;
    background-color: #FFA300;
    border: none;
    text-align: center;
    width: 100px;
}

#commande{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#prix_commande+input{
    font-size: 24px;
    width: 307px;
    height: 72px;
    border-radius: 30px;
    background-color: #FFA300;
    color: white;
    border: none;
}

.prix{
    position: relative;
}

.prix input[type=radio]{
    position: relative;
    appearance: none;
    width: 108px;
    height: 70px;
    background-color: none;
    z-index: 30;
}

.prix input[type=radio]:checked~.format-infos{
    color: white;
}

.prix input[type=radio]:checked~.case-couleur{
    background-color: #FFA300;
    border: none;
}

.prix div{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.format-infos{
    z-index: 20;
}

.case-couleur{
    z-index: 10;
    border: black solid;
}

.format{
    font-size: 18px;
}

.prix_format{
    font-size: 16px;
}

#quantity label{
    font-size: 24px;
}

#quantity input{
    font-size: 24px;
    text-align: center;
    width: 64px;
    height: 34.58px;
    color: #FFA300;
    border: #FFA300 solid;
    border-radius: 14px;
}

#popProduct{
    position: absolute;
    z-index: 40;
    top: 0;
    width: 99vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

#popProduct>div{
    border-radius: 10px;
    width: 700px;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border: black solid 1px;
}

#popProduct>div div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#popProduct>div p{
    font-size: 30px;
}

#popProduct>div div button{
    width: 250px;
    height: 70px;
    font-size: 20px;
    border-radius: 10px;
}

#retourAccueil{
    border: none;
}

#allerPanier{
    background-color: #FFA300;
    color: white;
    border: none;
}

#notices{
    position: relative;
}

#notices>div{
    overflow: auto;
}

#ajoutAvis{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 108px;
    border-top: #FFA300 solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-inline: 80px;
}

#ajoutAvis input[type=text]{
    background-color: none;
    border: none;
    border-bottom: #FFA300 solid;
    font-size: 28px;
    width: 1000px;
}

#ajoutAvis input[type=submit]{
    background-image: url('../img/envoi.png');
    background-color: white;
    border: none;
    width: 52px;
    height: 52px;
}

#ajoutAvis input[type=submit]:hover{
    cursor: pointer;
}

.notice{
    font-size: 23px;
    margin: auto;
    margin-bottom: 15px;
}

#descContent, #advices, #ingredientList{
    font-size: 20px;
}

#ingredientList li{
    list-style: square;
}

#ingredientList ul{
    padding: 20px;
}
#imagePetitEcran{
    display: none;
}
#formats>div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: end;
}

@media only screen and (max-width: 1260px){
    #prix_commande{
        width: 242px;
        height: 122px;
    }
    #trou+div, #trou+div div input{
        font-size: 24px;
    }
    
    #prix_commande+input{
        font-size: 20px;
        width: 245px;
        height: 58px;
    }
}

@media only screen and (max-width: 1090px){
    #productInfos>img{
        width: 450px;
        height: 450px;
    }
    .prix input[type=radio]{
        width: 90px;
    }
    #prix_commande{
        width: 194px;
        height: 98px;
    }
    #trou+div, #trou+div div input{
        font-size: 20px;
    }
    
    #prix_commande+input{
        font-size: 16px;
        width: 196px;
        height: 47px;
    }
}
@media only screen and (max-width: 980px){
    #productInfos{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #productCustom{
        margin: auto;
        width: 90%;
    }
    #productInfos>img{
        display: none
    }
    #productCustom h1{
        text-align: center;
    }
    #imagePetitEcran{
        display: block;
        width: 576px;
        height: 501px;
        margin:auto;
    }
    #productCustom{
        text-align: left;
    }
    .prix input[type=radio]{
        width: 108px;
    }
    #commande{
        flex-direction: row-reverse;
    }
    #prix_commande+input{
        font-size: 24px;
        width: 307px;
        height: 72px;
        border-radius: 30px;
        background-color: #FFA300;
        color: white;
        border: none;
    }

    #trou+div, #trou+div div input{
        font-size: 24px;
    }
    
    #prix_commande+input{
        font-size: 20px;
        width: 245px;
        height: 58px;
    }
    #prix_commande{
        width: 242px;
        height: 122px;
    }
    .notice{
        font-size: 20px ;
    }
}
@media only screen and (max-width: 740px){
    #imagePetitEcran{
        width: 90%;
        height: auto;
    }
    #formats>div{
        flex-direction: column;
    }
    #formats>div img{
        margin: auto;
    }
    #descContent, #advices, #ingredientList, .notice{
        font-size: 16px;
    }
}
@media only screen and (max-width: 680px){
    .prix input[type=radio]{
        width: 90px;
    }
    #prix_commande{
        width: 194px;
        height: 98px;
    }
    #trou+div, #trou+div div input{
        font-size: 20px;
    }
    
    #prix_commande+input{
        font-size: 16px;
        width: 196px;
        height: 47px;
    }
    #quantity label{
        font-size: 20px;
    }
    #quantity input{
        font-size: 20px;
        width: 51px;
        height: 28px;
    }
}
@media only screen and (max-width: 540px){
    #prix_commande{
        width: 155px;
        height: 78px;
    }
    #trou+div, #trou+div div input{
        font-size: 16px;
    }
    
    #prix_commande+input{
        font-size: 12px;
        width: 157px;
        height: 38px;
    }
    #infos{
        height: 55px;
    }
    #infos p {
        font-size: 12px;
    }
    #productCustom h1{
        font-size: 28px;
    }
    #trou{
        width: 16px;
        height: 16px;
    }
    
    
}
@media only screen and (max-width: 460px){
    #infos{
        height: 50px;
    }
    #infos p {
        font-size: 10px;
    }
    #productCustom h1{
        font-size: 20px;
    }
    #moyen_format{
        width: 100%;
    }
    #grand_format{
        width: 80%;
    }
    .format-infos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .prix input[type=radio]{
        width: 70px;
        height: 50px;
        margin: auto;
    }
    .format-infos p {
        font-size: 14px;
    }
    #formats>div{
        align-items: center;
    }
    #pageProduit{
        padding: 50px 20px;
    }
}

@media only screen and (max-width: 400px){
    #prix_commande{
        width: 135px;
        height: 78px;
    }
    #trou+div, #trou+div div input{
        font-size: 16px;
    }
    
    #prix_commande+input{
        font-size: 12px;
        width: 140px;
        height: 38px;
    }
}